{% extends 'base.html.twig' %}

{% block title %}Hello Interface!{% endblock %}

{% block body %}
    <h1>Interface in OOP</h1>

    <a href="{{ path('user_profile', {'userName': 'fabpot'}) }}">to GitHub User</a>
{% endblock %}
